* {
    box-sizing: border-box;
}

body {
	/*background-image: url("../../assets/images/binding_light.png");*/
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #777;
    line-height: 30px;
}

/* general */

.containter {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 { 
    font-family: "Georgia", "Times New Roman", Times serif;
    color: #4aaaa5;
    font-size: 36px;
}

h1{
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
}

h2, h3 {
    font-size: 20px;
}

/* header */
/*
#headmast {
    position: fixed;
    z-index: 99;
    margin: 0 0 30px;
    background-color: #fff;
	border-bottom: 2px solid #ccc;
    width: 100%;
    overflow: auto;
    color: #fff;
}

#logo {
    width: 250px;
    height: 90px;
	background-color: #4aaaa5;
    color: #fff;
	font-size: 32px;
	font-family: "Georgia", "Times New Roman", Times serif;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
	float: left;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #777;
    padding-left: 15px;
    line-height: 18px; 
}
nav a:first-child {
    border-left: 0 none;
}

nav a:link {
  color: black;
}

nav a:visited {
color: gray;
}

nav a:hover {
  color: #4aaaa5;
}

nav a:active {
  color: purple;
}

/* main */
/*
#main {
    padding-top: 130px; 
}


.main-article {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    padding: 30px;
    max-width: 650px;
    float: left;
    margin: 0 0 40px 0;
}

.bio-image {
    float: left;
    width: 200px;
    height: auto;
    margin: 20px 20px;
}

/* portfolio */

.box-set {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.box-set:nth-child(even) { 
    margin-right: 40px;
}

.box-set img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.box-set h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

/* sidebar */
/*
.sidebar {
    float: right;
    padding: 30px;
    width: 100%;
    max-width: 270px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

h3, 
.sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}
*/
.icon-image {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.icon-image:last-child {
    margin-right: 0;
}

/* contact */
/*
label,
input[type=text],
input[type=email],
textarea{
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea{
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

textarea{
    height: 200px;
}

.btnSubmit {
    background-color: #4aaaa5;
    border: 1px solid;
    width: 120px;
    height: 40px;
    color: #ffffff;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    margin: 20px 0 20px 0;
}

/* footer */
/*
footer {
    background: #666;
    padding: 30px 0;
    clear: both;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-top: 10px solid #4aaaa5;
}

/*MEDIA QUERIES*/
/*
@media screen and (max-width: 980px){
    .containter {
        width: 70%;
    }

    .main-article {
        width: 60%;
    }

    .sidebar {
        float: none;
    }

    #links {
        width: 110%;
    }
    footer {
        background: red;
        color: pink;
    }
}


@media only screen and (max-width: 768px){
    footer {
        background: green;
        color: white;
    }
}


@media only screen and (max-width: 640px){
    footer {
        background: yellow;
        color: black;
    }

}